# Avaliação Machine Learning - Izabela Hendrix

Aluno: Túlio Vieira de Souza

Este notebook foi criado para a atividade avaliativa da disciplina Machine Learning do curso Ciência de Dados da Faculdade Metododista Izabela Hendrix. 

A atividade consiste nos exercicios 8, 9,10, 13 e 15 do livro "An Introduction to Stastical Learning"

## Atividade 8

### Carregando os pacotes necessários

In [0]:
import pandas as pd
import statsmodels.formula.api as sms
import matplotlib.pyplot as plt
import numpy as np
import seaborn  as snb

%matplotlib inline

### Carregando o banco de dados

In [1]:
!wget http://www-bcf.usc.edu/~gareth/ISL/Auto.csv

--2019-04-08 17:43:56--  http://www-bcf.usc.edu/~gareth/ISL/Auto.csv
Resolving www-bcf.usc.edu (www-bcf.usc.edu)... 68.181.201.24
Connecting to www-bcf.usc.edu (www-bcf.usc.edu)|68.181.201.24|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18079 (18K) [text/csv]
Saving to: ‘Auto.csv’

Auto.csv            100%[===================>]  17.66K  --.-KB/s    in 0.1s

2019-04-08 17:43:57 (139 KB/s) - ‘Auto.csv’ saved [18079/18079]

In [0]:
bd = pd.read_csv("/content/Auto.csv")

In [5]:
bd.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
bd.describe()

,mpg,cylinders,displacement,weight,acceleration,year,origin
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,23.515869,5.458438,193.532746,2970.261965,15.555668,75.994962,1.574307
std,7.825804,1.701577,104.379583,847.904119,2.749995,3.690005,0.802549
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.000000,2223.000000,13.800000,73.000000,1.000000
50%,23.000000,4.000000,146.000000,2800.000000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3609.000000,17.100000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [8]:
bd.shape

(397, 9)

In [0]:
# Montando o modelo de regressão
model = sms.ols(formula="mpg ~ horsepower", data=bd).fit()
print(model.summary())